doctype html
html.index(lang="zh-CN")
  head
    include head.pug
  body.index-full-page
    #particles-oli-wrapper.hide
    .index-wrapper
      header.head.index.hide
        h1.head-title.u-fl
          = config.title
        include indexNav.pug
    != js('js/particles.min.js')
    != js('js/particles.oli.js')
    != js('js/indexNav.js')
    
    include ../plugins/google.pug
